* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#main-header {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #535353;
}

#main-header h1 {
  color: white;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1rem 0;
}

section {
  margin: 1rem auto;
  width: 40rem;
  max-width: 90%;
}

section ul {
  padding: 1rem;
  max-height: 20rem;
  overflow: scroll;
}

section > h2 {
  color: white;
  margin: 0;
}

button {
  font: inherit;
  background: #1e6475;
  color: white;
  border: 1px solid #1e6475;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

button.alt {
  background: white;
  color: #1e6475;
}

button.add-project {
  background: #842323;
  color: white;
}

button.add-project:hover,
button.add-project:active {
  background: white;
  border-color: #842323;
  color: #842323;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #1e6475;
  border-color: #1e6475;
  color: white;
}

.hidden {
  display: none;
}

.card {
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 0.2rem 1rem 1rem 1rem;
  background: white;
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

.tooltip-body {
  background: #1e6475;
  color: white;
  padding: 0.5rem;
}

.tooltip-body > * {
  margin: 0;
}

.tooltip-body > h2 {
  margin-bottom: 0.5rem;
}

.tooltip-arrow {
  width: 0; 
  height: 0; 
  background-color: white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #1e6475;
  margin: 0 0 0.5rem 1.7rem;
}

#add-project {
  text-align: right;
}

#active-projects {
  border: 1px solid #1e6475;
}

#active-projects > header {
  background: #1e6475;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#active-projects header h2 {
  color: white;
  margin: 0;
}

#completed-projects {
  border: 1px solid #535353;
}

#completed-projects > header {
  background: #535353;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#completed-projects header h2 {
  color: white;
  margin: 0;
}